*.suo
*.backup
*.user
*.dbmdl
*.pptx
*.psess
*.orig
*.xml
*.~vsd
*.zip
*.sublime-project
*.sublime-workspace
*.exe
*.avi
*.mp4
*.mov
*.rar

**/nuspec.list
**/packages/
**/bin
**/obj

ClearAssemblyCache.cmd
PushNuGets.cmd
CopyModule.cmd
*.log
