Baasic.Client/obj/
*.suo
src/Baasic.Client.Model/obj/
src/Baasic.Client.Model/bin/
src/Baasic.Client/obj/
src/Baasic.Client/bin/
packages/
src/Baasic.Client.Tests/obj/
src/Baasic.Client.Tests/bin/
src/Baasic.Client.Common/bin/
src/Baasic.Client.Common/obj/
src/Baasic.Client.Ninject/bin/
src/Baasic.Client.Ninject/obj/


ClearAssemblyCache.cmd
PushNuGets.cmd
src/Baasic.Client.WebHost/bin/
src/Baasic.Client.WebHost/obj/
